<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OpenCart_Suite_Version_01">

<listeners>
    <listener class-name="com.opencart.qa.ExtentReportsListeners.ExtentReportListener"/>
</listeners>

    <test name="OpenCart_TestPack_Version_01">
        <classes>
            <class name="com.opencart.qa.UnitTestScenarios.AddToCart"/>
            <class name="com.opencart.qa.UnitTestScenarios.EndToEndPurchaseTest"/>
            <class name="com.opencart.qa.UnitTestScenarios.Footer_ContactUsForm"/>
            <class name="com.opencart.qa.UnitTestScenarios.CountingMenuItemsWithHoverEffect"/>
        </classes>
    </test>
</suite>
